<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjp.orderservice.mapper.OrderMapper">
    <select id="selectOrderById" resultType="com.zjp.orderservice.entity.Order" parameterType="java.lang.Long">
        SELECT id, user_id, name, price, num
        FROM `order`
        WHERE id = #{id}
    </select>
</mapper>